---
import Layout from '@/layouts/Layout.astro';
import BreadCrumbs from '@/components/BreadCrumbs.astro';
import { 
    addressLegal,
	schedules,
	telphoneReadble,
	whatsappReadble,
	email,
} from '@/services/enviroment.js';
---
<Layout 
	title="Más Bella - Aviso legal"
	canonical="https://masbellamedical.com/aviso-legal"
	metaTitle="Más Bella - Aviso legal"
	metaDescription="Nuestra página de Aviso legal describe los términos y condiciones de uso de nuestro sitio web, derechos de propiedad intelectual y limitaciones de responsabilidad. Consulta esta página para conocer tus derechos y obligaciones al utilizar nuestros servicios en línea."
	metaImg="https://masbellamedical.com/img/logo-web.png"
>
    <BreadCrumbs title="Aviso legal" />
    <section class="contact spad">
        <div class="container mx-auto">
           <h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:150%;font-size:16px;serif;'><strong><span style="font-size:19px;line-height:150%;border:none windowtext 1.0pt;padding:0cm;">0. OBJETO</span></strong></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El presente aviso legal regula el uso y utilización del sitio web <a href="https://masbellamedical.com/">www.masbellamedical.com</a>, del que es titular MÓNICA GÓMEZ VITALI (en adelante, MÁS BELLA MEDICAL).</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>La navegación por el sitio web de MÁS BELLA MEDICAL le atribuye la condición de USUARIO del mismo y conlleva su aceptación plena y sin reservas de todas y cada una de las condiciones publicadas en este aviso legal, advirtiendo de que dichas condiciones podrán ser modificadas sin notificación previa por parte de MÁS BELLA MEDICAL, en cuyo caso se procederá a su publicación y aviso con la máxima antelación posible.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Por ello es recomendable leer atentamente su contenido en caso de desear acceder y hacer uso de la información y de los servicios ofrecidos desde este sitio web.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El usuario, además, se obliga a hacer un uso correcto del sitio web de conformidad con las leyes, la buena fe, el orden público, los usos del tráfico y el presente Aviso Legal, y responderá frente a MÁS BELLA MEDICAL o frente a terceros, de cualesquiera daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Cualquier utilización distinta a la autorizada está expresamente prohibida, pudiendo MÁS BELLA MEDICAL denegar o retirar el acceso y su uso en cualquier momento.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;"> </span></span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">1. IDENTIFICACIÓN</span></span></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;line-height:107%;font-size:16px;serif;'>MÓNICA GÓMEZ VITALI, en cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, le informa de que:</p>
			<ul style="list-style-type: disc;margin-left:26px;">
				<li>Su denominación social es: MÓNICA GÓMEZ VITALI.</li>
				<li>Su nombre comercial es: MÁS BELLA MEDICAL.</li>
				<li>Su CIF es: 53742778N.</li>
				<li>Su domicilio social central está en: {addressLegal}.</li>
				<li><span style="color:black;">Otros registros públicos en los que aparezca la entidad:</span></li>
			</ul>
			<ul style="list-style-type: undefined;margin-left:2cmundefined;">
				<li><span style="color:black;">Número de Identificación de Centro Sanitario de Andalucía Nº 64.632. Centro {addressLegal}.</span></li>
			</ul>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:16px;serif;'> </p>
			<p><span style='font-size:16px;line-height:107%;serif;'><br> </span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">2. COMUNICACIONES</span></span></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;text-align:justify;line-height:107%;font-size:16px;serif;'>Para comunicarse con nosotros, ponemos a su disposición diferentes medios de contacto que detallamos a continuación:</p>
			<ul style="list-style-type: disc;margin-left:26px;">
				<li>Tel.: {telphoneReadble} / {whatsappReadble} - {schedules}.<span style="color:black;"> </span></li>
				<li>Email: <a href=`mailto:${email}` target="_blank">{email}</a>       </li>
				<li>Dirección postal sede central: {addressLegal}. - {schedules}</li>
				<li><strong>Delegado en Protección de Datos:</strong></li>
			</ul>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;text-align:justify;line-height:107%;font-size:16px;serif;'>Juan Francisco Moreno - Responsable departamento LOPD y de calidad - Tel:91 037 50 12</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;text-align:justify;line-height:107%;font-size:16px;serif;'>Email: <a href="mailto:privacidad@masbellamedical.com">privacidad@masbellamedical.com</a>         </p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:107%;font-size:16px;serif;'>Todas las notificaciones y comunicaciones entre los usuarios e MÁS BELLA MEDICAL se considerarán eficaces, a todos los efectos, cuando se realicen a través de cualquier medio de los detallados anteriormente.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'> </p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><strong><u>Profesiones regladas:</u></strong></p>
			<ul style="list-style-type: disc;margin-left:25.450000000000003px;">
				<li>Médico especialista en medicina estética Dº. Sue Ivette Antúnez Casas, perteneciente al Ilustre Colegio Oficial de Médicos de Málaga, con número de colegiada 292911656, regido por el código deontológico del Colegio, el cual puede consultar en el siguiente enlace: <a href="https://commalaga.com/wp-content/uploads/2021/04/Codigo-de-Deontologia-Medica.pdf">https://commalaga.com/wp-content/uploads/2021/04/Codigo-de-Deontologia-Medica.pdf</a> </li>
				<li>Licenciada en Medicina por la Universidad Central de Venezuela (Venezuela).</li>
				<li>Licenciada en Medicina estética por la Universidad Complutense de Madrid (España).</li>
				<li>Médico Forense por la Université Paris V (Francia).</li>
				<li>Cirujana Plástico y Reconstructivo con formación en Cirugía Craneofacial en el Hospital Necker en París (Francia).</li>
				<li>Cirujana en Cirugía de la mano en Urgences main de l'Est Parisien (Francia).</li>
				<li>Miembro extranjero de la Société Française de Chirurgie Plastique, Reconstructrice et Esthétique, donde se rigen por sus Estatutos y su Reglamento interno, los cuales puede consultar en las siguientes direcciones:</li>
			</ul>
			<ul style="list-style-type: undefined;">
				<li><strong>Estatutos</strong>: <a href="https://www.sofcpre.fr/src/sofcpre/statuts/statuts-sofcpre-edition-2021.pdf">https://www.sofcpre.fr/src/sofcpre/statuts/statuts-sofcpre-edition-2021.pdf</a> </li>
				<li><strong>Reglamento Interno</strong>: <a href="https://www.sofcpre.fr/src/sofcpre/statuts/reglement-interieur-sofcpre-edition-2023.pdf">https://www.sofcpre.fr/src/sofcpre/statuts/reglement-interieur-sofcpre-edition-2023.pdf</a> </li>
			</ul>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:35.45pt;line-height:150%;font-size:16px;serif;'> </p>
			<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'>
				<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:25.450000000000003px;">
					<li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'>Miembro perteneciente a la Sociedad Española de Medicina Estética (SEME) con número de socia 2090, donde se rige con un código ético, el cual puede consultar en la siguiente dirección: <a href="https://www.seme.org/la-seme/codigo-etico">https://www.seme.org/la-seme/codigo-etico</a>, así como el llamado libro blanco, un marco de referencia para conseguir la consolidación de nuestra actividad, puede consultarlo en el siguiente enlace: <a href="https://www.seme.org/la-seme/libro-blanco-de-la-medicina-estetica">https://www.seme.org/la-seme/libro-blanco-de-la-medicina-estetica</a></li>
				</ul>
			</div>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:16px;serif;'> </p>
			<p><span style='font-size:16px;line-height:107%;serif;'><br> </span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">3. CONDICIONES DE ACCESO Y UTILIZACIÓN DE LA WEB</span></span></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El sitio web y sus servicios son de acceso libre y gratuito. No obstante, MÁS BELLA MEDICAL puede condicionar la utilización de algunos de los servicios ofrecidos en su web a la previa cumplimentación del correspondiente formulario.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a MÁS BELLA MEDICAL y será el único responsable de las manifestaciones falsas o inexactas que realice.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de MÁS BELLA MEDICAL y a no emplearlos para, entre otros:</p>
			<ol style="list-style-type: lower-alpha;margin-left:26px;" start="1">
				<li>Difundir contenidos delictivos, violentos, pornográficos, racistas, xenófobos, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público.</li>
				<li>Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de MÁS BELLA MEDICAL o de terceras personas; así como obstaculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales MÁS BELLA MEDICAL presta sus servicios.</li>
				<li>Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informáticos de MÁS BELLA MEDICAL o de terceros y, en su caso, extraer información.</li>
				<li>Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de MÁS BELLA MEDICAL o de terceros.</li>
				<li>Suplantar la identidad de cualquier otro usuario.</li>
				<li>Reproducir, copiar, distribuir, poner a disposición de, o cualquier otra forma de comunicación pública, transformar o modificar los contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido.</li>
				<li>Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.</li>
			</ol>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su diseño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a MÁS BELLA MEDICAL, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la web.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>En definitiva, los usuarios que accedan a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Asimismo, todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el sitio web son propiedad de MÁS BELLA MEDICAL, sin que pueda entenderse que el uso o acceso al mismo atribuya al usuario derecho alguno sobre los mismos.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre MÁS BELLA MEDICAL y el propietario del sitio web en la que se establezca, ni la aceptación y aprobación por parte de MÁS BELLA MEDICAL de sus contenidos o servicios.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>MÁS BELLA MEDICAL no se responsabiliza del uso que cada usuario les dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="color:#383838;"> </span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">4. RESPONSABILIDAD</span></span></h2>
				
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas web incluidas o accesibles a través del sitio web, deberá enviar una notificación al prestador identificándose debidamente y especificando las supuestas infracciones.</p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">5. EXCLUSIÓN DE GARANT&Iacute;AS Y DE RESPONSABILIDAD EN EL ACCESO Y LA UTILIZACIÓN</span></span></h2>
			
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="border:none windowtext 1.0pt;padding:0cm;">MÁS BELLA MEDICAL excluye, hasta donde permite el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza derivados de:</span></p>
			<ol style="list-style-type: lower-alpha;margin-left:26px;" start="1">
				<li>La imposibilidad de acceso al sitio web.</li>
				<li>El incumplimiento de las leyes, la buena fe, el orden público, los usos del tráfico y el presente aviso legal como consecuencia del uso incorrecto del sitio web. En particular, y a modo ejemplificativo, MÁS BELLA MEDICAL no se hace responsable de las actuaciones de terceros que vulneren derechos de propiedad intelectual e industrial, secretos empresariales, derechos al honor, a la intimidad personal y familiar y a la propia imagen, así como la normativa en materia de competencia desleal y publicidad ilícita.</li>
			</ol>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="border:none windowtext 1.0pt;padding:0cm;">Asimismo, MÁS BELLA MEDICAL declina cualquier responsabilidad respecto a la información que se halle fuera de esta web y no sea gestionada directamente por nuestro webmaster. La función de los links que aparecen en esta web es exclusivamente la de informar al usuario sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que ofrece este sitio web. MÁS BELLA MEDICAL no garantiza ni se responsabiliza del funcionamiento o accesibilidad de los sitios enlazados; ni sugiere, invita o recomienda la visita a los mismos, por lo que tampoco será responsable del resultado obtenido. MÁS BELLA MEDICAL no se responsabiliza del establecimiento de hipervínculos por parte de terceros.</span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">6. PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER IL&Iacute;CITO</span></span></h2>
				
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="border:none windowtext 1.0pt;padding:0cm;">En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las páginas web incluidas o accesibles a través del sitio web, deberá enviar una notificación a MÁS BELLA MEDICAL identificándose debidamente y especificando las supuestas infracciones.</span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">7. PUBLICACIONES</span></span></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="border:none windowtext 1.0pt;padding:0cm;">La información administrativa facilitada a través del sitio web no sustituye la publicidad legal de las leyes, normativas, planes, disposiciones generales y actos que tengan que ser publicados formalmente a los diarios oficiales de las administraciones públicas, que constituyen el único instrumento que da fe de su autenticidad y contenido. La información disponible en este sitio web debe entenderse como una guía sin propósito de validez legal.</span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">8. POLITICAS DE ENLACES</span></span></h2>
				
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Desde el sitio web, es posible que se redirija a contenidos de terceros sitios web. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, no implica en ningún caso la existencia de relación entre el prestador y el propietario del sitio web en la que se establezca, ni aceptación o aprobación de sus contenidos o servicios. Desde esta web, no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador manifiesta que procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="color:#383838;"> </span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">9.  PROPIEDAD INTELECTUAL</span></span></h2>
				
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>El sitio web, incluyendo diseños, logotipos, texto y/o gráficos que son propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorización expresa y previa por parte de los mismos.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:150%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'><span style="color:#383838;"> </span></p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">10.  MENORES DE EDAD (14 A&Ntilde;OS)</span></span></h2>
				
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>ATENCIÓN: Para la utilización de los servicios que ofrece el sitio web, los menores de 14 años, deberán, previamente, haber obtenido autorización de sus padres, tutores o representantes legales, puesto que éstos deberán responder por los actos realizados por los menores que se encuentren a su cargo, correspondiéndoles toda la responsabilidad a la hora de determinar los contenidos y servicios a los que puedan tener acceso. Esta autorización, podrán realizarla a través del correo electrónico:<span style="color:black;"> </span><a href="mailto:privacidad@masbellamedical.com">privacidad@masbellamedical.com</a>    </p>
			<h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:16px;serif;'><span style='serif;font-weight:bold;'><span style="font-size:19px;line-height:107%;">11. LEY APLICABLE Y JURISDICCION</span></span></h2>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o relacionados con su uso los Juzgados y Tribunales de la provincia del titular de la web.</p>
			<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:5.0pt;margin-left:0cm;line-height:normal;font-size:16px;serif;text-align:justify;'>Las condiciones presentes se regirán por la legislación española vigente.</p>
			<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:16px;serif;text-align:justify;vertical-align:baseline;'>La lengua utilizada será el Castellano.</p>
        </div>
    </section>
</Layout>