---
import '@/styles/footer.css';
import Facebook from '@/components/icons/Facebook.astro';
import Instagram from '@/components/icons/Instagram.astro';
import MapMarker from '@/components/icons/MapMarker.astro';
import Phone from '@/components/icons/Phone.astro';
import WhatsApp from '@/components/icons/WhatsApp.astro';
import Envelope from '@/components/icons/Envelope.astro';
import OpenModalDeclaration from '@/components/OpenModalDeclaration';

import { 
    telphoneReadble,
    telphoneLinkeable,
    whatsappReadble,
    whatsappLinkeable,
    email,
    address,
    schedules,
    instagram,
    facebook,
    mapUrl,

} from '@/services/enviroment.js';
---
<footer class="footer">
    <div class="footer__top" >
        <div class="container mx-auto">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-4">
                    <div class="footer__logo">
                        <a href="./"><img src="img/logo-blanco.png" alt="logo blanco de más bella" style="width:160px"></a>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-8 lg:col-span-4">
                    <div class="footer__newslatter text-center">
                        <p class="text-white text-bold" style="font-size:18px;">La belleza comienza en el amor propio, ámate y siéntete <strong>Más Bella</strong> porque lo importante eres tú</p>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-4">
                    <div class="footer__social">
                        <a target="_blank" href={instagram}>
                            <Instagram className="inline" />
                        </a>
                        <a target="_blank" href={facebook}>
                            <Facebook className="inline" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12 sm:col-span-6 md:col-span-3 lg:col-span-2 px-4">
                <div class="footer__widget">
                    <h5>Enlaces útiles</h5>
                    <ul>
                        <li><a href="./">Inicio</a></li>
                        <li><a href="./about">Sobre Nosotros</a></li>
                        <li><a href="./servicios">Servicios</a></li>
                        <li><a href="./contacto">Contacto</a></li>
                        <li>
                            <OpenModalDeclaration client:load />
                        </li>
                        <li><a href="./aviso-legal">Aviso Legal</a></li>
                        <li><a href="./politica-privacidad">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-3 lg:col-span-2 px-4">
                <div class="footer__widget">
                    <h5>Horarios</h5>
                    <p style="color:#fff;">{schedules}</p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 px-4">
                <div class="footer__address">
                    <h5>Contactenos</h5>
                    <ul>
                        <li><a target="_blank" href={mapUrl}>
                            <MapMarker className="inline" />
                            {address}</a>
                        </li>
                        <li><a target="_blank" href={'tel:' + telphoneLinkeable}>
                            <Phone className="inline" />
                            {telphoneReadble}</a>
                        </li>
                        <li><a target="_blank" href={'https://wa.me/34' + whatsappLinkeable}>
                            <WhatsApp className="inline" />
                            {whatsappReadble}</a>
                        </li>
                        <li><a target="_blank" href={'mailto:' + email}>
                            <Envelope className="inline" />
                            {email}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-12 md:max-lg:pb-20 lg:col-span-4 px-4">
                <div class="footer__map">
                    <a target="_blank" href={mapUrl}><img src="./img/map.jpg" alt="mapa MasBella"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#b71b6d] py-6 mt-8 max-sm:pb-20">
        <div class="container mx-auto">
            <div class="text-center">
                <p class="text-gray-200">Diseñado por <a class="text-white hover:font-bold hover:text-white" target="_blank" href="https://manejoweb.com.ar/">ManejoWeb</a></p>
            </div>
        </div>
    </div>
</footer>