---
import '@/styles/footer.css';
import Facebook from '@/components/icons/Facebook.astro';
import Instagram from '@/components/icons/Instagram.astro';
import MapMarker from '@/components/icons/MapMarker.astro';
import Phone from '@/components/icons/Phone.astro';
import WhatsApp from '@/components/icons/WhatsApp.astro';
import Envelope from '@/components/icons/Envelope.astro';
import OpenModalDeclaration from '@/components/OpenModalDeclaration';

import { 
    telphoneReadble,
    telphoneLinkeable,
    whatsappReadble,
    whatsappLinkeable,
    email,
    address,
    schedules,
    instagram,
    facebook,
    mapUrl,

} from '@/services/enviroment.js';
---
<footer class="footer">
    <div class="footer__top" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__logo">
                        <a href="./"><img src="img/logo-blanco.png" alt="logo blanco de más bella" style="width:160px"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="footer__newslatter text-center">
                        <p class="text-white text-bold" style="font-size:18px;">La belleza comienza en el amor propio, ámate y siéntete <strong>Más Bella</strong> porque lo importante eres tú</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__social">
                        <a target="_blank" href={instagram}>
                            <Instagram />
                        </a>
                        <a target="_blank" href={facebook}>
                            <Facebook />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Enlaces útiles</h5>
                    <ul>
                        <li><a href="./">Inicio</a></li>
                        <li><a href="./about">Sobre Nosotros</a></li>
                        <li><a href="./servicios">Servicios</a></li>
                        <li><a href="./contacto">Contacto</a></li>
                        <li>
                            <OpenModalDeclaration client:load />
                        </li>
                        <li><a href="./aviso-legal">Aviso Legal</a></li>
                        <li><a href="./politica-privacidad">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h5>Horarios</h5>
                    <p style="color:#fff;">{schedules}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__address">
                    <h5>Contactenos</h5>
                    <ul>
                        <li><a target="_blank" href={mapUrl}>
                            <MapMarker />
                            {address}</a>
                        </li>
                        <li><a target="_blank" href={'tel:' + telphoneLinkeable}>
                            <Phone />
                            {telphoneReadble}</a>
                        </li>
                        <li><a target="_blank" href={'https://wa.me/34' + whatsappLinkeable}>
                            <WhatsApp />
                            {whatsappReadble}</a>
                        </li>
                        <li><a target="_blank" href={'mailto:' + email}>
                            <Envelope />
                            {email}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6">
                <div class="footer__map">
                    <a target="_blank" href={mapUrl}><img src="./img/map.jpg" alt="mapa MasBella"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Diseñado por <a class="text-white" target="_blank" href="https://manejoweb.com.ar/">ManejoWeb</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>

            </div>
        </div>
    </div>
</footer>