---
interface Props {
    title: string;
    subTitle1: string;
    description1: string;
    subTitle2: string;
    description2: string;
    subTitle3: string;
    description3: string;
}
const { title, description1, subTitle1, description2, subTitle2, description3, subTitle3 } = Astro.props;
---
<section class="latest spad">
    <div class="container mx-auto">
        
        <div class="section-title px-4">
            <span>Mini consejos</span>
            <h2>{title}</h2>
        </div>
            
        <div class="grid grid-cols-12">
            <div class="col-span-12 sm:col-span-6 lg:col-span-4 px-4">
                <div class="latest__item">
                    <h5><strong>{subTitle1}</strong></h5>
                    <p>{description1}</p>
                    <ul>
                        <li><img src="img/simbolo.png" alt="simbolo más bella" class="!h-auto"> Más Bella</li>
                    </ul>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 lg:col-span-4 px-4">
                <div class="latest__item">
                    <h5><strong>{subTitle2}</strong></h5>
                    <p>{description2}</p>
                    <ul>
                        <li><img src="img/simbolo.png" alt="simbolo más bella" class="!h-auto"> Más Bella</li>
                    </ul>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 lg:col-span-4 px-4">
                <div class="latest__item">
                    <h5><strong>{subTitle3}</strong></h5>
                    <p>{description3}</p>
                    <ul>
                        <li><img src="img/simbolo.png" alt="simbolo más bella" class="!h-auto"> Más Bella</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>